<?xml version="1.0" encoding="UTF-8"?>
<server description="FitLayout Web Server">

    <featureManager>
        <feature>jsonb-3.0</feature>
        <feature>mail-2.1</feature>
        <feature>mpJwt-2.1</feature>
        <feature>restfulWS-3.1</feature>
        <feature>servlet-6.0</feature>
    </featureManager>

    <variable name="http.port" defaultValue="8088"/>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="${http.port}"/>
                  
    <applicationManager autoExpand="true"/>

    <webApplication location="fitlayout-web.war" contextRoot="/" />

</server>
