<?xml version="1.0" encoding="UTF-8"?>
<server description="FitLayout Web Server">

    <featureManager>
        <feature>microProfile-7.1</feature>
        <feature>mail-2.1</feature>
        <feature>servlet-6.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="8088"
                  httpsPort="9443"/>
                  
    <applicationManager autoExpand="true"/>

    <webApplication location="fitlayout-web.war" contextRoot="/fitlayout-web" />

</server>
